<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"><title>Personnes</title>
</head>
<body>
<h1>Liste des personnes</h1>

<!--Message de succès éventuel -->

<p th:if="${msg}" th:text="${msg}" style="color:green;"></p>

<!-- Lien vers le formulaire d’ajout -->
<p><a th:href="@{/persons/add}">➕ Ajouter une personne</a></p>


<table border="1" cellpadding="6">
  <thead>
  <tr><th>ID</th><th>Nom</th><th>Âge</th></tr>
  </thead>
  <tbody>
  <tr th:each="p : ${persons}">
    <td th:text="${p.id}">1</td>
    <td th:text="${p.name}">Alice</td>
    <td th:text="${p.age}">30</td>
  </tr>
  <tr th:if="${#lists.isEmpty(persons)}">
    <td colspan="3">Aucune personne trouvée.</td>
  </tr>
  </tbody>
</table>

</body>
</html>
